fastapi
sqlalchemy
pydantic
databases
uvicorn
psycopg2-binary
alembic
python-dotenv
yfinance
pandas
requests
APScheduler
python-multipart
passlib[bcrypt]
email-validator
python-jose[cryptography]
pytest
pytest-asyncio
httpx
pytest-cov
coverage
pytest-mock
pytest-postgresql